body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    width: 10px; /* Ajusta el tamaño del logo según tus necesidades */
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.texto {
    display: inline-block;
    vertical-align: middle;
    padding-left: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }